<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [ ]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9Note: you may need to restart the kernel to use updated packages.

  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     ---------------------------------------- 0.0/6.0 MB 487.6 kB/s eta 0:00:13
     ---------------------------------------- 0.1/6.0 MB 491.5 kB/s eta 0:00:12
     - -------------------------------------- 0.2/6.0 MB 833.5 kB/s eta 0:00:07
     - -------------------------------------- 0.2/6.0 MB 1.1 MB/s eta 0:00:06
     - -------------------------------------- 0.3/6.0 MB 1.2 MB/s eta 0:00:05
     -- ------------------------------------- 0.4/6.0 MB 1.3 MB/s eta 0:00:05
     --- ------------------------------------ 0.5/6.0 MB 1.4 MB/s eta 0:00:05
     ---- ----------------------------------- 0.6/6.0 MB 1.5 MB/s eta 0:00:04
     ---- ----------------------------------- 0.6/6.0 MB 1.5 MB/s eta 0:00:04
     ---- ----------------------------------- 0.7/6.0 MB 1.4 MB/s eta 0:00:04
     ----- ---------------------------------- 0.8/6.0 MB 1.5 MB/s eta 0:00:04
     ------ --------------------------------- 0.9/6.0 MB 1.6 MB/s eta 0:00:04
     ------ --------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.0/6.0 MB 1.5 MB/s eta 0:00:04
     ------- -------------------------------- 1.1/6.0 MB 361.1 kB/s eta 0:00:14
     -------- ------------------------------- 1.2/6.0 MB 391.8 kB/s eta 0:00:13
     -------- ------------------------------- 1.3/6.0 MB 415.2 kB/s eta 0:00:12
     --------- ------------------------------ 1.4/6.0 MB 434.8 kB/s eta 0:00:11
     --------- ------------------------------ 1.5/6.0 MB 452.6 kB/s eta 0:00:10
     ---------- ----------------------------- 1.5/6.0 MB 464.9 kB/s eta 0:00:10
     ---------- ----------------------------- 1.6/6.0 MB 486.9 kB/s eta 0:00:09
     ----------- ---------------------------- 1.7/6.0 MB 509.7 kB/s eta 0:00:09
     ------------ --------------------------- 1.8/6.0 MB 533.1 kB/s eta 0:00:08
     ------------- -------------------------- 1.9/6.0 MB 555.3 kB/s eta 0:00:08
     ------------- -------------------------- 2.0/6.0 MB 579.6 kB/s eta 0:00:07
     -------------- ------------------------- 2.1/6.0 MB 597.8 kB/s eta 0:00:07
     --------------- ------------------------ 2.2/6.0 MB 618.4 kB/s eta 0:00:07
     --------------- ------------------------ 2.3/6.0 MB 638.4 kB/s eta 0:00:06
     ---------------- ----------------------- 2.5/6.0 MB 660.9 kB/s eta 0:00:06
     ----------------- ---------------------- 2.6/6.0 MB 679.9 kB/s eta 0:00:06
     ----------------- ---------------------- 2.7/6.0 MB 695.8 kB/s eta 0:00:05
     ------------------ --------------------- 2.7/6.0 MB 708.6 kB/s eta 0:00:05
     ------------------- -------------------- 2.8/6.0 MB 726.4 kB/s eta 0:00:05
     ------------------- -------------------- 2.9/6.0 MB 741.1 kB/s eta 0:00:05
     -------------------- ------------------- 3.0/6.0 MB 758.0 kB/s eta 0:00:04
     --------------------- ------------------ 3.1/6.0 MB 774.6 kB/s eta 0:00:04
     --------------------- ------------------ 3.2/6.0 MB 781.3 kB/s eta 0:00:04
     ---------------------- ----------------- 3.3/6.0 MB 796.9 kB/s eta 0:00:04
     ---------------------- ----------------- 3.4/6.0 MB 807.5 kB/s eta 0:00:04
     ----------------------- ---------------- 3.5/6.0 MB 822.8 kB/s eta 0:00:04
     ----------------------- ---------------- 3.6/6.0 MB 835.3 kB/s eta 0:00:03
     ------------------------ --------------- 3.6/6.0 MB 844.2 kB/s eta 0:00:03
     ------------------------ --------------- 3.7/6.0 MB 849.4 kB/s eta 0:00:03
     ------------------------- -------------- 3.7/6.0 MB 852.0 kB/s eta 0:00:03
     ------------------------- -------------- 3.8/6.0 MB 859.1 kB/s eta 0:00:03
     ------------------------- -------------- 3.9/6.0 MB 859.3 kB/s eta 0:00:03
     -------------------------- ------------- 3.9/6.0 MB 862.5 kB/s eta 0:00:03
     --------------------------- ------------ 4.0/6.0 MB 876.0 kB/s eta 0:00:03
     --------------------------- ------------ 4.1/6.0 MB 889.2 kB/s eta 0:00:03
     ---------------------------- ----------- 4.2/6.0 MB 900.8 kB/s eta 0:00:02
     ---------------------------- ----------- 4.3/6.0 MB 913.5 kB/s eta 0:00:02
     ----------------------------- ---------- 4.4/6.0 MB 921.7 kB/s eta 0:00:02
     ------------------------------ --------- 4.5/6.0 MB 932.8 kB/s eta 0:00:02
     ------------------------------ --------- 4.6/6.0 MB 943.9 kB/s eta 0:00:02
     ------------------------------- -------- 4.7/6.0 MB 951.6 kB/s eta 0:00:02
     ------------------------------- -------- 4.8/6.0 MB 959.3 kB/s eta 0:00:02
     -------------------------------- ------- 4.9/6.0 MB 972.8 kB/s eta 0:00:02
     -------------------------------- ------- 4.9/6.0 MB 973.8 kB/s eta 0:00:02
     --------------------------------- ------ 5.0/6.0 MB 977.0 kB/s eta 0:00:02
     ---------------------------------- ----- 5.1/6.0 MB 986.0 kB/s eta 0:00:01
     ---------------------------------- ----- 5.2/6.0 MB 994.8 kB/s eta 0:00:01
     ----------------------------------- ---- 5.3/6.0 MB 1.0 MB/s eta 0:00:01
     ----------------------------------- ---- 5.3/6.0 MB 1.0 MB/s eta 0:00:01
     ------------------------------------ --- 5.4/6.0 MB 1.0 MB/s eta 0:00:01
     ------------------------------------ --- 5.5/6.0 MB 1.0 MB/s eta 0:00:01
     ------------------------------------- -- 5.6/6.0 MB 1.0 MB/s eta 0:00:01
     ------------------------------------- -- 5.6/6.0 MB 1.0 MB/s eta 0:00:01
     -------------------------------------- - 5.7/6.0 MB 1.0 MB/s eta 0:00:01
     -------------------------------------- - 5.7/6.0 MB 1.0 MB/s eta 0:00:01
     -------------------------------------- - 5.8/6.0 MB 1.0 MB/s eta 0:00:01
     ---------------------------------------  5.9/6.0 MB 1.0 MB/s eta 0:00:01
     ---------------------------------------  6.0/6.0 MB 1.0 MB/s eta 0:00:01
     ---------------------------------------- 6.0/6.0 MB 1.0 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (pyproject.toml): started
  Building wheel for sqlalchemy (pyproject.toml): finished with status 'done'
  Created wheel for sqlalchemy: filename=sqlalchemy-1.3.9-cp311-cp311-win_amd64.whl size=1163624 sha256=53bf1716295abf78eb28bf64d89fc4340af2f10a8c48391e9c359d92a4991ab0
  Stored in directory: c:\users\ptut\appdata\local\pip\cache\wheels\3a\7c\1e\12404784a68083eb969f877a1808a1847bab897684b56ddc55
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.3.9

[notice] A new release of pip is available: 23.3.2 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

### Connect to the database

Let us first load the SQL extension and establish a connection with the database
Notee: ! before pip install is not needed here

In [ ]:
!pip install ipython-sql
!pip install ipython-sql prettytable

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable
  Downloading prettytable-3.16.0-py3-none-any.whl.metadata (33 kB)
Requirement already satisfied: ipython in c:\users\ptut\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (8.16.1)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading sqlalchemy-2.0.41-cp311-cp311-win_amd64.whl.metadata (9.8 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.3-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in c:\users\ptut\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\ptut\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\ptut\appdata\local\programs\python\python311\lib\site-packages (from prettytable) (0.2.8)
Collecting greenlet>=1 (from sqlalchemy>=2.0->ipython-sql)
  Downloading greenlet-3.2.3-cp311-cp311-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\ptut\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.8.0)
Requirement already satisfied: backcall in c:\users\ptut\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\ptut\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\ptut\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\ptut\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\ptut\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\ptut\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (3.0.39)
Requirement already satisfied: pygments>=2.4.0 in c:\users\ptut\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (2.16.1)
Requirement already satisfied: stack-data in c:\users\ptut\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.5.1)
Requirement already satisfied: traitlets>=5 in c:\users\ptut\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (5.11.2)
Requirement already satisfied: colorama in c:\users\ptut\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\ptut\appdata\local\programs\python\python311\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\ptut\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\ptut\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (2.4.0)
Requirement already satisfied: pure-eval in c:\users\ptut\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading prettytable-3.16.0-py3-none-any.whl (33 kB)
Downloading sqlalchemy-2.0.41-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   - -------------------------------------- 0.1/2.1 MB 1.6 MB/s eta 0:00:02
   -- ------------------------------------- 0.1/2.1 MB 1.7 MB/s eta 0:00:02
   --- ------------------------------------ 0.2/2.1 MB 1.7 MB/s eta 0:00:02
   ----- ---------------------------------- 0.3/2.1 MB 1.4 MB/s eta 0:00:02
   ------ --------------------------------- 0.4/2.1 MB 1.5 MB/s eta 0:00:02
   ------- -------------------------------- 0.4/2.1 MB 1.6 MB/s eta 0:00:02
   --------- ------------------------------ 0.5/2.1 MB 1.5 MB/s eta 0:00:02
   ---------- ----------------------------- 0.5/2.1 MB 1.6 MB/s eta 0:00:02
   ----------- ---------------------------- 0.6/2.1 MB 1.5 MB/s eta 0:00:01
   ------------- -------------------------- 0.7/2.1 MB 1.5 MB/s eta 0:00:01
   --------------- ------------------------ 0.8/2.1 MB 1.5 MB/s eta 0:00:01
   ---------------- ----------------------- 0.9/2.1 MB 1.6 MB/s eta 0:00:01
   ------------------ --------------------- 1.0/2.1 MB 1.6 MB/s eta 0:00:01
   -------------------- ------------------- 1.1/2.1 MB 1.7 MB/s eta 0:00:01
   ---------------------- ----------------- 1.2/2.1 MB 1.7 MB/s eta 0:00:01
   ------------------------ --------------- 1.3/2.1 MB 1.7 MB/s eta 0:00:01
   ------------------------- -------------- 1.3/2.1 MB 1.7 MB/s eta 0:00:01
   -------------------------- ------------- 1.4/2.1 MB 1.7 MB/s eta 0:00:01
   --------------------------- ------------ 1.5/2.1 MB 1.7 MB/s eta 0:00:01
   ----------------------------- ---------- 1.5/2.1 MB 1.7 MB/s eta 0:00:01
   ------------------------------ --------- 1.6/2.1 MB 1.7 MB/s eta 0:00:01
   ------------------------------- -------- 1.7/2.1 MB 1.6 MB/s eta 0:00:01
   -------------------------------- ------- 1.7/2.1 MB 1.6 MB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 1.6 MB/s eta 0:00:01
   ------------------------------------ --- 1.9/2.1 MB 1.6 MB/s eta 0:00:01
   -------------------------------------- - 2.0/2.1 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 1.7 MB/s eta 0:00:00
Downloading sqlparse-0.5.3-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/44.4 kB ? eta -:--:--
   ---------------------------------------- 44.4/44.4 kB 2.1 MB/s eta 0:00:00
Downloading greenlet-3.2.3-cp311-cp311-win_amd64.whl (297 kB)
   ---------------------------------------- 0.0/297.0 kB ? eta -:--:--
   --------- ------------------------------ 71.7/297.0 kB 2.0 MB/s eta 0:00:01
   ------------------------ --------------- 184.3/297.0 kB 2.2 MB/s eta 0:00:01
   ----------------------------------- ---- 266.2/297.0 kB 2.0 MB/s eta 0:00:01
   ---------------------------------------- 297.0/297.0 kB 2.0 MB/s eta 0:00:00
Installing collected packages: sqlparse, prettytable, greenlet, sqlalchemy, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed greenlet-3.2.3 ipython-sql-0.5.0 prettytable-3.16.0 sqlalchemy-2.0.41 sqlparse-0.5.3
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.2 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [13]:
%load_ext sql

In [14]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [ ]:
!pip install -q pandas

Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.2 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [18]:
%sql sqlite:///my_data1.db

In [19]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [20]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [21]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

In [22]:
# column names
%sql PRAGMA table_info(SPACEXTABLE);

 * sqlite:///my_data1.db
Done.

[(0, 'Date', 'TEXT', 0, None, 0),
 (1, 'Time (UTC)', 'TEXT', 0, None, 0),
 (2, 'Booster_Version', 'TEXT', 0, None, 0),
 (3, 'Launch_Site', 'TEXT', 0, None, 0),
 (4, 'Payload', 'TEXT', 0, None, 0),
 (5, 'PAYLOAD_MASS__KG_', 'INT', 0, None, 0),
 (6, 'Orbit', 'TEXT', 0, None, 0),
 (7, 'Customer', 'TEXT', 0, None, 0),
 (8, 'Mission_Outcome', 'TEXT', 0, None, 0),
 (9, 'Landing_Outcome', 'TEXT', 0, None, 0)]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [11]:
%sql SELECT DISTINCT "Launch_Site" FROM SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [13]:
%sql SELECT * FROM SPACEXTABLE WHERE "Launch_Site" LIKE 'CCA%' LIMIT 5;

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [14]:
%sql SELECT SUM("PAYLOAD_MASS__KG_") AS Total_Payload_Mass FROM SPACEXTABLE WHERE "Customer" LIKE '%NASA (CRS)%';

 * sqlite:///my_data1.db
Done.

[(48213,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [21]:
%sql SELECT AVG("PAYLOAD_MASS__KG_") AS Average_Payload_Mass FROM SPACEXTABLE WHERE "Booster_Version" = 'F9 v1.1';

 * sqlite:///my_data1.db
Done.

[(2928.4,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [20]:
%sql SELECT MIN(Date) AS First_Successful_Ground_Landing FROM SPACEXTABLE WHERE "Landing_Outcome" = 'Success (ground pad)';

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [22]:
%sql SELECT DISTINCT Booster_Version FROM SPACEXTABLE WHERE "Landing_Outcome" = 'Success (drone ship)' AND PAYLOAD_MASS__KG_ > 4000 AND PAYLOAD_MASS__KG_ < 6000;

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [23]:
%sql SELECT Mission_Outcome, COUNT(*) AS Total FROM SPACEXTABLE GROUP BY Mission_Outcome;

 * sqlite:///my_data1.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

### Task 8



##### List all the booster_versions that have carried the maximum payload mass. Use a subquery.

In [24]:
%%sql

SELECT DISTINCT Booster_Version
FROM SPACEXTABLE
WHERE PAYLOAD_MASS__KG_ = (
    SELECT MAX(PAYLOAD_MASS__KG_)
    FROM SPACEXTABLE
)

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [46]:
%%sql 

SELECT substr("DATE", 6, 2) AS "Month" , substr("DATE", 0, 5) AS "Year", "landing_outcome", "BOOSTER_VERSION", "LAUNCH_SITE" 
    FROM SPACEXTABLE WHERE landing_outcome = 'Failure (drone ship)' 
    and substr("DATE", 0, 5) = '2015';

 * sqlite:///my_data1.db
Done.

[('01', '2015', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('04', '2015', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

In [30]:
%%sql 

SELECT DISTINCT Landing_Outcome FROM SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[('Failure (parachute)',),
 ('No attempt',),
 ('Uncontrolled (ocean)',),
 ('Controlled (ocean)',),
 ('Failure (drone ship)',),
 ('Precluded (drone ship)',),
 ('Success (ground pad)',),
 ('Success (drone ship)',),
 ('Success',),
 ('Failure',),
 ('No attempt ',)]

In [31]:
%%sql

SELECT 
    substr(Date, 6, 2) AS Month,
    Landing_Outcome,
    Booster_Version,
    Launch_Site
FROM SPACEXTABLE
WHERE 
    Landing_Outcome LIKE 'Failure (drone ship)' 
    AND substr(Date, 0, 5) = '2015'

 * sqlite:///my_data1.db
Done.

[('01', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [32]:
%%sql

SELECT "Landing_Outcome", COUNT(*) AS outcome_count
FROM SPACEXTABLE
WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY "Landing_Outcome"
ORDER BY outcome_count DESC;

 * sqlite:///my_data1.db
Done.

[('No attempt', 10),
 ('Success (drone ship)', 5),
 ('Failure (drone ship)', 5),
 ('Success (ground pad)', 3),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Failure (parachute)', 2),
 ('Precluded (drone ship)', 1)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>